body {
    margin: 0;
    background: rgb(204, 204, 204);
}

.header {
    display: flex;
    justify-content: space-between;
    background-image: url('././photos/catlookingaway.jpg');
    background-size: cover;
    height: 100px;
    float: bottom;
}

.logoheader {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    font-size: 32px;
    color: white;
    margin-left: 20px;
    text-align: justify;
    padding: 2px;
    border: 24px;
}


.links {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    border: 24px;
    gap: 80px;
}

.links {
    text-decoration: none;
    text-align: left;
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: wheat;
}

li {
    list-style-type: none;
}

.topic {
    display: flex;
    padding: 32px;
    justify-content: center;
    position: relative;
    background-color: rgb(180, 180, 180);
}

.topic {
    font-size: 24px;
    font-weight: 200;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.topicbox {
    display: flex;
    justify-content: center;
    width: 500px;
    margin: 18px;
    padding: 24px;
    border: 2px solid;
    color: white;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    margin-top: 5px;
    background-color: rgb(228, 228, 228);
    background-image: url('././photos/hopefulcat.jpg');
    background-size: cover;
    border-radius: 15px;
    
}

.topicbox:hover {
    box-shadow: inset 0 0 0 1000px rgb(185, 185, 185, .4);
}


.container {
    display: flex;
    position: relative;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    margin-left: 25%;
    margin-right: 25%;
    max-width: auto;
    max-height: auto;
}

.maintopic {
    display: flex;
    justify-content: center;
    margin: 12px;
    position: absolute;
}

.maintopic {
    display: inline-flex;
    font-size: 24px;
    font-weight: 400;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.photo {
    display: block;
    position: relative;
    text-align: center;
    margin-top: 56px;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.photo img {
    float: left;
    object-fit: cover;
    max-width: 350px;
    max-height: 350px;
    border-radius: 5%;
    display: flex;
    margin: 0 auto;
    border: 4px solid;
    border-color: white;
    margin-bottom: 10px;
}

.button {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
}

.caption {
    display: block;
}



.container {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.bottom {
    display: flex;
    justify-content: center;
    padding: 48px;
    border: 48px;
    width: 300;
    background-color: rgb(150, 150, 150);
    background-size: cover;
    background-position: 10% 20%;
}

.bottom {
    text-decoration: underline;
}

.maincontainer {
    display: flex;
    justify-content: center;
    background-color: rgb(180, 180, 180);
    padding: 32px;
}

.quote {
    display: flex;
    justify-content: left;
    margin: 24px;
    background-color: rgb(194, 194, 194);
    padding: 24px;
    max-width: 650px;
    width: 100%;

}

.quote {
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    font-style: italic;
    position: relative;
}

.signature {
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    bottom: 0;
    right: 15px;
    color: rgb(92, 92, 92);
}

button {
    display: inline-block;
    background-color: rgb(56, 56, 56);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 14px;
    position: absolute;
    padding: 4px;
    margin: 4px;
    border: 1px solid;
    border-color: white;
    bottom: 55px;
    border-radius: 5%;
    cursor: pointer;
    transition: all 0.2s;
    width: 70px;
}

button:hover {
    color: rgb(0, 0, 0);
    background-color: white;
}